<?xml version='1.0' encoding='utf-8'?>
<widget id="com.calculator.myApp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Modern Calculator App</name>
    <description>Modern Calculator App</description>
    <author email="bahintingchristopher@gmail.com" href="https://bahintingchristopher.github.io/bahins/">
        CHRISTOPHER T. BAHINTING
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
    <icon src="res/icon-192.png" density="xxxhdpi" />
    <icon src="res/icon-192.png" density="xxhdpi" />
    <icon src="res/icon-192.png" density="xhdpi" />
    <icon src="res/icon-192.png" density="hdpi" />
    <icon src="res/icon-192.png" density="mdpi" />
    <icon src="res/icon-192.png" density="ldpi" />
</platform>


</widget>
